#body{ 
    background-color: rgb(94, 93, 91);
    color: rgb(46, 85, 7);
    color: orange;
    
}

#inserir{
}

#apresentar{

}

#pesquisar{

}

#tabela-dados{
 table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
}





    

