#body{ 
   background-color: black;
}

#inserir{
    background-color: blue;

}

#apresentar{
background-color: purple;
    }

#pesquisar{
background-color: gray;
     }

#tabela-dados{
 table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
}





    

